<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context 
                           http://www.springframework.org/schema/context/spring-context-4.1.xsd">

	<context:component-scan base-package="com.clubeek.ui" />
        <context:component-scan base-package="com.clubeek.dao.impl.springjdbctemplate" />
        <context:component-scan base-package="com.clubeek.service" />
	
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="org.postgresql.Driver" />
		<property name="url" value="jdbc:postgresql://localhost:5432/clubeek" />
		<property name="username" value="postgres" />
		<property name="password" value="password" />
	</bean>
	
	<!--bean id="articleDao" class="com.clubeek.dao.impl.springjdbctemplate.ArticleDaoImpl" />
    <bean id="categoryDao" class="com.clubeek.dao.impl.springjdbctemplate.CategoryDaoImpl" />
    <bean id="clubTeamDao" class="com.clubeek.dao.impl.springjdbctemplate.ClubTeamDaoImpl" />
    <bean id="clubMemberDao" class="com.clubeek.dao.impl.springjdbctemplate.ClubMemberDaoImpl" />
    <bean id="clubRivalDao" class="com.clubeek.dao.impl.springjdbctemplate.ClubRivalDaoImpl" />
    <bean id="clubSettingDao" class="com.clubeek.dao.impl.springjdbctemplate.ClubSettingDaoImpl" />
    <bean id="teamMemberDao" class="com.clubeek.dao.impl.springjdbctemplate.TeamMemberDaoImpl" />
    <bean id="userDao" class="com.clubeek.dao.impl.springjdbctemplate.UserDaoImpl" /-->
    
</beans>